<div class="menu">
    <h3 style="color:orange;">MENÙ</h3>
    <p class="text-secondary">Lasciati ispirare dalle nostre pizze.</p>
</div>

<div class="container-fluid">

    <!--Prima card margherita-->
    <div class="row d-flex">

        <div class="col d-flex justify-content-center mb-5">
            <div class="card text-center border-warning mb-3" style="width: 20rem;">
                <img src="~/img/pizza-margherita.jpg" class="card-img-top" alt="..." height="375px">
                <div class="card-body">
                    <h5 class="card-title">La Margherita</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer border-warning" style=" background-color:white;">
                    7.00€
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center mb-5">
            <div class="card text-center border-warning mb-3" style="width: 20rem;">
                <img src="~/img/pizza-capricciosa.jpg" class="card-img-top" alt="..." height="375px">
                <div class="card-body">
                    <h5 class="card-title">La Margherita</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer border-warning" style=" background-color:white;">
                    7.00€
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center mb-5">
            <div class="card text-center border-warning mb-3" style="width: 20rem;">
                <img src="~/img/pizza-vegetariana.jpg" class="card-img-top" alt="..." height="375px">
                <div class="card-body">
                    <h5 class="card-title">La Margherita</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer border-warning " style=" background-color:white;">
                    7.00€
                </div>
            </div>
        </div>
    </div>
</div>