@model GustiPizza

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="upper-headers text-center mt-4">Pizza: @Model.Name</h3>
            <img src="@Model.Image" alt="@Model.Name" class="d-block m-auto border border-black" style="width: 250px" />
            <p class="text-center mt-3 site-font">@Model.Description</p>
        </div>
    </div>
</div>
